{% extends "base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('.static', filename='sockets.js')}}"></script>
{% endblock %}

{% block title %}
SocketIO Messenger
{% endblock %}

{% block content %}
<div class="container">
    <h1>SocketIO Chat</h1>
    <h3 id="chat-room-name">Test</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul id="messages" class="list-group"></ul>
            <textarea class="form-control" rows="4" id="mymessage" autofocus></textarea>
            <button id="sendbutton">Send</button>
        </div>
        <div class="col-sm-6">
            <h4>Update user name</h4>
            <form id="rename-user" action="#">
                <input type="text" id="new_user_name">
                <input type="submit" value="Update">
            </form>
            <h4>Create new chat room</h4>
            <form id="new-room" action="#">
                <input type="text" id="new-chat-room">
                <input type="submit" value="Create Room">
            </form>
            <h4>Chat rooms</h4>
            <!--<ul id="chat-rooms"></ul>-->
            <div id="chat-rooms"></div>
        </div>
    </div>    
</div>
{% endblock %}